*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// border: solid 1px red;
}

body {
	font-family: Arial, sans-serif;
}

h2 {
	margin: 0 auto;
	padding: 40px 0 0 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/* Hero Section */
.hero {
	position: relative;
	background: linear-gradient(90deg, rgba(106, 4, 139, 1) 38%, rgba(0, 212, 255, 1) 100%);
	height: 100vh;
	overflow: hidden;
}

/* Image Layer */
.image-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/BACKGROUND.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed; /* This is what creates the parallax effect */
	z-index: -1;
	opacity: 0.6; /* Adjust opacity as needed */
	z-index: 0;
}
.image-layer2 {
	position: absolute;
	margin: 0 auto;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	object-fit: cover;
	opacity: 1; /* Adjust opacity as needed */
	z-index: 1;
}
.image-layer3 {
	position: absolute;
	bottom: 240px;
	right: -600px;
	width: auto;
	height: 70%;
	object-fit: cover;
	z-index: 0;
	display: block;
	transform: translateX(-50%) rotate(30deg);
	animation: slideImages 2s ease-in-out;
}

/* Logo */
.logo {
	position: fixed;
	top: 20px;
	left: 20px;
	width: clamp(250px, 10vw, 10px);
	height: auto;
	z-index: 100;
}

.hero-content {
	position: relative;
	text-align: center;
	color: #e3f4fc;
}

.hero-content h1 {
	position: relative;
	font-size: 120px;
	letter-spacing: 3px;
	margin-top: -300px;
	text-shadow: 1px 1px 5px #ca0c0c, -2px -2px 4px #85bb65;
	margin-bottom: 200px;
}

.hero-content h1 span {
	color: #85bb65;
	font-size: 130px;
	display: block;
	margin-left: 800px;
	margin-top: -60px;
	transform-origin: top left;
	transform: rotate(70deg);
	animation: swing 2s ease-in-out infinite;
}

.hero-content h1::after {
	content: '';
	position: absolute;
	background-image: url('../img/crown.png');
	background-size: cover;
	top: -40px;
	left: 270px;
	width: 90px;
	height: 90px;
}

.hero-text {
	position: absolute;
	top: 350px;
	inset: 0;
	text-transform: uppercase;
	padding: 20px 50px;
	color: #000000;
	text-shadow: 3px 3px 5px #f1eeff, -2px -2px 5px #85bb65;
	letter-spacing: 3px;
	font-weight: 700;
	font-size: 40px;
}

/* About Section */
.about {
	position: relative;
	background: linear-gradient(90deg, #6ba14c 38%, rgba(105, 4, 139, 0.514) 90%);
	height: 100vh;
	width: auto;
	text-align: center;
	overflow: hidden;
	opacity: 0.8;
	z-index: 0;

	.about-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		opacity: 0.3;
		z-index: 0;
		object-fit: cover;
	}

	.card-container {
		display: flex;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); // Responsive cards
		grid-gap: 20px;
	}

	.card {
		background: linear-gradient(90deg, #e6f0e023 38%, rgba(105, 4, 139, 0.082) 90%);
		padding: 10px;
		border-radius: 10px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
		text-align: center; /* Center the text within cards */

		p {
			display: inline-block;

			font-size: 30px;
			font-weight: 900;
		}

		.card-image {
			// Styles for image container in the second card
			margin-bottom: 10px;

			img {
				padding: 5px;
				max-width: 100%;
				height: auto;
				border-radius: 10px; // Match image corners to card
			}
		}
	}
	.tape-container {
		width: 100%;
		overflow: hidden;
		border-bottom: solid white;
		border-top: solid white;
		font-family: 'Libre Baskerville', serif;
		background: #000000;
		padding: 20px 0;
		position: relative;
		white-space: nowrap;
	}

	.tape {
		display: flex;
		gap: 40px;
		animation: marquee 10s linear infinite;
		min-width: 100%;

		p {
			display: flex;
			align-items: center;
			text-align: center;
			gap: 40px;
			font-size: 50px;
			font-weight: bold;
			color: white;
			text-transform: uppercase;
			white-space: nowrap;

			span {
				display: inline-block;
				padding-right: 20px;
			}
		}
	}

	// Duplicate the tape content to ensure seamless looping
	.tape::after {
		content: attr(data-text); /* Uses same text to repeat */
		display: flex;
	}

	@keyframes marquee {
		from {
			transform: translateX(0%);
		}
		to {
			transform: translateX(-100%);
		}
	}
}

/* Gallery Section */
.gallery {
	background-color: #85bb65;
	text-align: center;
}

.image-gallery {
	padding: 50px 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;

	img {
		width: 130%;
		height: auto;
		display: inline;
		border-radius: 5px;
		box-shadow: 3px 3px 10px rgb(25, 29, 14);
		transition: transform 0.3s ease; // Add the transition

		&:hover {
			transform: scale(1.1); // Increase size on hover
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // Optional: enhance shadow
		}
	}
}

/* Social Information Section */
.social {
	display: flex;
	flex-direction: column; /* Stack children vertically */
	align-items: center; /* Center-align the content horizontally */
	text-align: center; /* Center-align text */
	background-color: #000000;
	// padding: 80px 0;
	// text-align: center;
	// height: 0;

	.bottom-text {
		margin-top: 20px; /* Add space above the bottom text */
		margin-bottom: 20px; /* Add space above the bottom text */
		color: #f1eeff;
	}
}

.social-links {
	margin-top: 20px;
}

.social-links {
	margin-top: 20px;
	display: flex; // Ensure items are arranged horizontally
	justify-content: center; // Center the icons
}

.social-link {
	display: inline-block;
	padding: 20px;
	margin: 0 10px; // Spacing between icons
	width: 100px; // Set a fixed width and height
	height: 100px;
	border-radius: 50%; // Make it round
	background-color: #85bb65; // Background for when icon isn't loaded
	overflow: hidden; // Hide any parts of the image that overflow

	img {
		width: 100%; // Make the image fill the container
		height: 100%;
		object-fit: cover; // Ensure the image covers the whole area while maintaining aspect ratio
	}

	&:hover {
		//Optional hover effect
		transform: scale(1.1);
		transition: transform 0.2s ease; //Smooth transition
	}
}

@keyframes swing {
	0% {
		transform: rotate(60deg); /* Rotate span to the left */
	}
	50% {
		transform: rotate(70deg); /* Rotate span to the right */
	}
	100% {
		transform: rotate(60deg); /* Rotate span to the left */
	}
}

@keyframes slideImages {
	0% {
		bottom: -200px;
		opacity: 0;
	}
	100% {
		bottom: 240px;
		opacity: 1; /* Adjust translation as needed */
	}
}

@media screen and (max-width: 768px) {
	.hero-content h1,
	span {
		font-size: 70px;
		margin-top: 0;
	}

	.hero-content h1 span {
		margin-left: 500px;
		margin-top: -35px;
		font-size: 90px;
	}

	.hero-content h1::after {
		top: -25px;
		left: 190px;
		width: 50px;
		height: 50px;
	}

	.image-layer3 {
		bottom: 70px;
		right: -300px;
		width: auto;
		height: 35%;
	}
	.hero-content p {
		top: 240px;
		font-size: 20px;
	}
	.logo {
		top: 5%;
		left: 50%;
		transform: translate(-50%, -5%);
		margin: 0 auto;
	}
	.about-bar {
		.bar-text {
			font-size: 30px;
			.bold-red {
				font-size: 30px;
			}

			.bold-yellow {
				font-size: 30px;
			}
		}
	}

	@keyframes slideImages {
		0% {
			bottom: -240px;
			opacity: 0;
		}
		100% {
			bottom: 70px;
			opacity: 1; /* Adjust translation as needed */
		}
	}
}

@media screen and (max-width: 480px) {
	.hero-content h1 {
		font-size: 50px;
		margin-top: 80px;
	}
	.hero-content h1 span {
		margin-left: 400px;
		margin-top: -27px;
		font-size: 70px;
	}

	.hero-content p {
		top: 270px;
		line-height: 22px;
		padding: 0 80px;
		font-size: 12px;
	}

	.hero-content h1::after {
		top: -22px;
		left: 158px;
		width: 40px;
		height: 40px;
	}

	.image-layer3 {
		bottom: 50px;
		right: -160px;
		width: auto;
		height: 25%;
	}

	.about-bar {
		.bar-text {
			font-size: 20px;
			.bold-red {
				font-size: 20px;
			}

			.bold-yellow {
				font-size: 20px;
			}
		}
	}

	.logo {
		top: 5%;
		left: 50%;
		transform: translate(-50%, -5%);
		margin: 0 auto;
	}

	@keyframes slideImages {
		0% {
			bottom: -200px;
			opacity: 0;
		}
		100% {
			bottom: 50px;
			opacity: 1; /* Adjust translation as needed */
		}
	}
}

/* Media Query for smaller screens (adjust breakpoint as needed) */
@media (max-width: 768px) {
	.about-content .card-container {
		grid-template-columns: 1fr; // Stack cards vertically
	}
}
